<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--        将下划线映射为驼峰-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--   开启logback日志输出-->
        <setting name="logImpl" value="SLF4J"/>
<!--        开启resultMap自动映射-->
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <typeAliases>
<!--        给实体类起别名-->
        <package name="com.project.pojo"/>
    </typeAliases>

<!--    分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>